.grid_12 {
    position: absolute;
    height: 100%;
}        

.column_1 {
    width:15%; 
    height: 100%; 
    margin: 0 !important; 
}

.column_2 {
    width: 84%;
    height: 100%;
    margin-left: 10px;
    float: right;
}

.project {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    float: right;
    display: none;
}

.project .talk_list {
    margin-top: 0;
}

#term_1 {
    width:15%;
    height: 60px;
    border: 1px solid ghostwhite;
    padding: 5px;
}

#term_2 {
    width:15%;
    height: 60px;
    border: 1px solid ghostwhite;
    padding: 5px;
    margin-top: 10px;
}

#sort {
    color: ghostwhite;
    text-decoration: ghostwhite none;
    width: 4em;
}

#sort:hover {
    text-decoration: underline;
}

p {
    text-align:left;
    text-indent:2em;
    padding-bottom:10px;
}

/*
    list-style-position:inside; 可以指定编号的位置（默认为outside）
    counter-reset属性第二个值的默认值为0，表示初始值为0；
    counter-increment属性第二个值的默认值为1，表示增量为1。
*/
ol {
    list-style-type: none;
    counter-reset: li;
}
ol li {
    border: none;
    background-color: white;
    list-style-position: inside;
}
ol li:before {
    content: '(' counter(li) ') ';
    counter-increment: li;
}

ul {
    margin: 0px;
}

li {
    list-style-type: none;
    text-decoration: black;
    background-color: lightsteelblue;
    border: 1px solid black;
    padding: 3px;
}

.idol {
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: 10%;
}

.photo {
    display: flex;
    margin-top: 10px;
    margin-left: 10%;
    flex-direction: row column;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    justify-content: flex-start;
}

.photo img {
    display:table-cell;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border: none;
    text-align: center;
    vertical-align: middle;
}

footer {
    margin-left: 85%;
}

.thumbs-up {
    width: 20px;
    height: 20px;
    margin-left: 95%;
}

.thumbs-up:hover {
    width: 25px;
    height: 25px;
}

video {
    width: 700px;
    height: 400px;
    padding: 20px;
    margin-left: 10px;
}

iframe {
    width: 100%;
    height: 100%;
}

#SHOW_1 {display: flex; position: relative;}
#SHOW_2 {display: none; width: 100%; height: 100%;}
#SHOW_3 {display: none; width: 100%; height: 100%;}